#DO_Image .form-input-tip {
    width: 130px;
}
#DO_Image a {
    display: block;
}
.status-result {
    display: none;
    font-size: 18px;
}
.sb-success {
    color: #2F7401;
}
.sb-error {
    color: #EC0404;
}